.card img,
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type="date"] {
    position: relative;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    /* 鼠标指针变为手型 */
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    /* 绝对定位，覆盖整个输入框 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    /* 隐藏原有的图标 */
    background: transparent;
    /* 无背景 */
    cursor: pointer;
    /* 鼠标指针变为手型 */
}

/* 定义滚动条的宽度 */
::-webkit-scrollbar {
    width: 8px;
}

/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
    background: #00000000;
    border-radius: 10px;
}

/* 定义滚动条拖动块的样式 */
::-webkit-scrollbar-thumb {
    background: #2a2e35;
    border-radius: 10px;
}

/* 当鼠标悬停在滚动条拖动块上时改变颜色 */
::-webkit-scrollbar-thumb:hover {
    background: #505358;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.field progress:not(:last-child) {
margin-bottom: 0
}